@import url('../main.css');

#loadscreen-wrapper {
    position: fixed;
    top: 0;
    left: 0;

    width: 100vw;
    height: 100vh;

    box-sizing: border-box;
    padding: 1.75rem;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    overflow: hidden;
}

#loadscreen-wrapper > header {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
}

#loadscreen-wrapper > footer {
    width: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-between;
    gap: 0.5rem;
}

#secondary-bar-wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-between;
    gap: 0.25rem;
}

#loading-action {
    font-size: 1rem;
    white-space: nowrap;
}

#secondary-bar {
    block-size: 0.75rem;
    inline-size: 25%;
}

#primary-bar {
    block-size: 1rem;
    inline-size: 50%;
}

#finishing-wrapper {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    text-align: center;
}
