@import url('../main.css');

#loadscreen-wrapper {
    position: fixed;
    top: 0;
    left: 0;

    width: 100vw;
    height: 100vh;

    box-sizing: border-box;
    padding: 3.5rem 3.5rem 1.75rem 3.5rem;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    overflow: hidden;
}

#loadscreen-wrapper-header {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    transition: var(--finishing-transition);
}

#loadscreen-wrapper-main {
    text-align: center;
    transition: var(--finishing-transition);
}

#loadscreen-wrapper-footer {
    width: 100%;
    box-sizing: border-box;
    padding-right: 15rem;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-between;
    gap: 0.5rem;
    transition: var(--finishing-transition);
}

#mini-progress-wrapper {
    width: 30rem;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-between;
    gap: 0.25rem;
}

#mini-progress-action {
    font-size: 1rem;
    white-space: nowrap;
}

#mini-progress {
    block-size: 0.75rem;
    inline-size: 100%;
}

#main-progress {
    block-size: 1rem;
    inline-size: 100%;
}
