# Whether to let other resources handle the loadscreen shutdown.
setr loadscreen:externalShutdown false

# The style to load for the screen (classic, modern, minimal).
# Custom styles may be added in `@loadscreen/html/styles`.
set loadscreen:style "classic"

# The message displayed when loading.
# Available variables:
# ${playerName} - Player name
# ${serverName} - sv_projectName variable, or sv_hostname if not available
set loadscreen:serverMessage "${playerName}, welcome to ${serverName}!"

# The message displayed when FiveM is awaiting scripts.
set loadscreen:finishingMessage "Finishing up..."

# The initial volume for the background audio - music & video (0 - 100).
set loadscreen:initialAudioVolume 10

# Whether music should be enabled for the screen.
# Custom music may be added in `@loadscreen/html/assets/music`.
set loadscreen:music true

# Whether music should be randomly shuffled when played.
set loadscreen:musicShuffle false

# The background to use for the screen (css, image, video).
# Custom images may be added in `@loadscreen/html/assets/images`.
# Custom videos may be added in `@loadscreen/html/assets/videos`.
set loadscreen:background "image"

# The rate at which images are switched in milliseconds.
set loadscreen:imageRate 7500

# Whether images should be randomly shuffled when displayed.
set loadscreen:imageShuffle false

# Whether videos should be randomly shuffled when displayed.
set loadscreen:videoShuffle false
