:root {
    --background-color: #4040ff;
    --background: linear-gradient(-15deg, rgb(5, 0, 7.5) 0%, rgb(15, 10, 25) 100%);
    --text-color: rgb(250, 250, 250);
    --progress-bar-background: rgba(8, 8, 16, 0.5);
    --progress-value-background: var(--background-color);
    --finishing-transition: opacity 0.5s;
    --loading-font-family: Segoe UI, ui-sans-serif, sans-serif, Helvetica, Arial;
}

* {
    margin: 0 0;
    padding: 0 0;
}

html {
    width: 100vw;
    height: 100vh;

    background-image: var(--background);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;

    font-family: var(--loading-font-family);
    color: var(--text-color);

    transition: background-image 2s;
    user-select: none;

    font-synthesis: style;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
}

h1 {
    font-weight: 300;
}

progress {
    appearance: none;
    overflow: hidden;
    border-radius: 1rem;
}

::-webkit-progress-bar {
    background: var(--progress-bar-background);
}

::-webkit-progress-value {
    background: var(--progress-value-background);
}

#logo>img {
    width: 100%;
    height: 5rem;
    object-fit: cover;
}

#logo>img:hover {
    cursor: pointer;
    animation: rotateAnimation 2s ease-in-out;
    filter: grayscale(1);
}

.overlay {
    backdrop-filter: brightness(0.3);
}

#background-video {
    position: fixed;
    top: 0;
    left: 0;

    width: 100vw;
    height: 100vh;
    object-fit: cover;
}

#audio-controls-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: rgb(241, 243, 244);
    border-radius: 1.7rem;
    filter: invert(1);
    opacity: 0.6;
}

.audio-controls-button {
    appearance: none;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
    background-color: transparent;
}

.audio-controls-button:hover {
    cursor: pointer;
}

.audio-controls-button>img {
    width: 22px;
    padding: 5px;
    background-color: transparent;
    border-radius: 1rem;
    transition: background-color 0.25s;
}

.audio-controls-button:hover>img {
    background-color: rgba(0, 0, 0, 0.05) !important;
}

#audio-controls-prev {
    transform: translateX(10px);
}

#audio-controls-next {
    transform: translateX(-10px);
}

@keyframes rotateAnimation {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}