@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');

* {
    margin: 0 0;
    padding: 0 0;
}

html {
    width: 100vw;
    height: 100vh;

    --background: linear-gradient(
        -15deg,
        rgb(5, 0, 7.5) 0%,
        rgb(15, 10, 25) 100%
    );
    --text-color: rgb(250, 250, 250);
    --border-round: 0.35rem;

    --progress-bar-background: rgba(8, 8, 16, 0.5);
    --progress-value-background: rgb(64, 64, 255);

    --finishing-transition: opacity 0.5s;

    background-image: var(--background);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;

    font-family: 'Roboto';
    color: var(--text-color);

    transition: background-image 2s;
}

h1 {
    font-weight: 300;
}

progress {
    appearance: none;
    overflow: hidden;
    border-radius: 1rem;
}

::-webkit-progress-bar {
    background: var(--progress-bar-background);
}

::-webkit-progress-value {
    background: var(--progress-value-background);
}

#error-wrapper {
    position: fixed;
    top: 1rem;
    left: 50%;
    transform: translate(-50%);
    max-width: calc(100% - 3.5rem);
    max-height: calc(100% - 3.5rem);

    display: flex;
    flex-direction: column;
    gap: 0.5rem;

    background-color: rgba(0, 0, 0, 0.9);
    color: rgb(250, 250, 250);
    padding: 0.75rem;
    border-radius: var(--border-round);
    z-index: 1;
}

#error-wrapper > header {
    display: flex;
    align-items: center;
    gap: 0.25rem;
}

#error-log {
    min-width: calc(100% - 1.1rem);
    min-height: calc(100% - 1.1rem);
    max-width: calc(100% - 1.1rem);
    max-height: calc(100% - 1.1rem);
    background-color: transparent;
    color: rgb(225, 225, 225);
    padding: 0.5rem;
    border-radius: var(--border-round);
}

#error-log:focus {
    outline: none;
}

#background-video {
    position: fixed;
    top: 0;
    left: 0;

    width: 100vw;
    height: 100vh;
    object-fit: cover;
}

#audio-controls {
    position: fixed;
    right: 1.75rem;
    bottom: 4rem;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 0.35rem;

    background-color: var(--progress-bar-background);
    border-radius: var(--border-round);
}

#audio-mute {
    appearance: none;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;

    background-color: transparent;
    padding: 0.35rem 0.5rem;
    border-radius: var(--border-round);
}

#audio-mute:hover {
    cursor: pointer;
}

#audio-volume {
    display: none;
    margin-left: 0.85rem;
}

#audio-controls:hover > #audio-volume {
    display: inline-block !important;
}

/* todo: check */
#loadscreen-wrapper,
#finishing-wrapper {
    transition: var(--finishing-transition);
}
